<div class="container">

  <div>like</div>
  <app-like
    [likesCount]="tweet.likesCount"
    [isActive]="tweet.isLiked"
  ></app-like>
  <br>
  <br>
  <br>
  <br>

  <div>ngSwitchCase</div> <br>
  <app-ng-switch-case></app-ng-switch-case>
  <br>
  <br>
  <br>
  <br>

  <div>ngFor</div> <br>
  <app-ng-for></app-ng-for>
  <br>
  <br>
  <br>
  <br>

  <div>ngFor-and-track-by</div> <br>
  <app-ng-for-and-track-by></app-ng-for-and-track-by>
  <br>
  <br>
  <br>
  <br>


  <div>ng-class</div> <br>
  <app-ng-class></app-ng-class>
  <br>
  <br>
  <br>
  <br>


  <div>ng-content</div> <br>
  <bootstrap-panel>

    <div class="heading">Heading</div>

    <div class="body">
      <h1>body</h1>
      <p>some content........</p>
    </div>

  </bootstrap-panel>
  <br>
  <br>
  <br>
  <br>


  <div>ng-container</div> <br>
  <app-ng-container>
    <ng-container class="heading">Heading</ng-container>

    <div class="body">
      <h1>body</h1>
      <p>some content........</p>
    </div>
  </app-ng-container>
  <br>


  <div>input format/ creating custom Directives</div><br>
  <input type="text" [appInputFormat]="'lowercase'">
  <br>
  <br>
  <br>
  <br>

  <div>zippy</div> <br>
  <zippy title="Shipping Details">
    Shipping Details Content
  </zippy>
  <br>
  <br>
  <br>
  <br>

  <div>template-driven-forms</div> <br>
  <template-driven-forms></template-driven-forms>
  <br>
  <br>
  <br>
  <br>

  <div>template-driven-form-exercise</div> <br>
  <new-course-form></new-course-form>
  <br>
  <br>
  <br>
  <br>

  <div>reactive-form-signup-form</div> <br>
  <reactive-form-signup-form></reactive-form-signup-form>
  <br>
  <br>
  <br>
  <br>

  <div>add-new-course-reactive-form</div> <br>
  <add-new-course-reactive-form></add-new-course-reactive-form>
  <br>
  <br>
  <br>
  <br>

  <div>form-builder-reactive-form</div> <br>
  <form-builder-reactive-form></form-builder-reactive-form>
  <br>
  <br>
  <br>
  <br>

  <div>change-password-reactive-form</div> <br>
  <change-password-reactive-form></change-password-reactive-form>
  <br>
  <br>
  <br>
  <br>


  <div>Pipes</div> <br>
  <pipes></pipes>
  <br>
  <br>
  <br>
  <br>

</div>
